<mat-card class="home mat-elevation-z3 card">
  <mat-card-title class="title">
    Retorno as atividades presenciais
  </mat-card-title>
  <mat-card-content class="content">
    <p>"Com a Pandemia da Covid-19, muita coisa mudou.
      O trabalho remoto não foi uma opção,
      mas sim necessário e assim se foram quase 2 anos de home office.
      Porém, hoje com a vacinação em andamento,
      já podemos enxergar novas possibilidades,
      e aqui na FCamara não é diferente,
      com muito cuidado e segurança estamos planejando a reabertura da nossa empresa.
      Estamos muito felizes com essa novidade,
      mas sabemos que não será como antes."</p>
  </mat-card-content>
</mat-card>
