<h2 mat-dialog-title>Informações importantes</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>Os escritórios voltarão a ficar abertos no horário das 8h às 18h.</li>
    <li>Será medida a temperatura ao chegar no escritório.</li>
    <li>Todos os consultores deverão usar máscaras dentro das acomodações dos escritórios.</li>
    <li>Nas mesas existem adesivos sinalizando onde os #SangueLaranjas devem sentar, para que haja o distanciamento necessário.</li>
    <li>Pessoas que estiverem sentindo algum sintoma não devem ir trabalhar presencialmente, a indicação é para que permaneçam em casa.</li>
    <li>Os escritórios só podem comportar até 40% dos consultores, conforme a legislação.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
